@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

/*I CAN USE THESE INSTEAD OF THE html AND html.dark rulesets*/
/*
:root {
  --foreground-color: var(--dark-text-color);
  --background-color: var(--light-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--light-text-color);
    --background-color: var(--dark-bg-color);
  }
}
*/

/* format("woff") format("woff2") format("ttf") format("otf") */
@font-face {
  font-family: "Space_Grotesk";
  src:
    url("/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.woff2")
      format("woff2"),
    url("/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.woff")
      format("woff"),
    url("/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito_Sans";
  src:
    url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2")
      format("woff2"),
    url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
      format("truetype");
  font-weight: 200 900;
  font-display: swap;
}

/*Heading font*/
@font-face {
  font-family: "Syne";
  src:
    url("/fonts/Syne/Syne-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Syne/Syne-VariableFont_wght.woff") format("woff"),
    url("/fonts/Syne/Syne-VariableFont_wght.otf") format("opentype");
  font-weight: 400 800;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /*I NEED TO MAKE CORRECTIONS ALL AROUND FOR THESE TO MAKE SENSE*/
  /*padding: 0;
  margin: 0;*/
}

html {
  /*background-color: #9775fa02;*/
  /*#FAF9F6 #f2f0ef #F8F8FF */
  background-color: #f8f8ff;
  color: black;
  font-family: sans-serif;
  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 16px;
}

html.dark {
  background-color: #0f1011;
  color: #e3e1db;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  .border-animation::after {
    transition: none;
  }
  .border-animation:hover::after {
    transform: none;
  }
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
  font-family: "Space_Grotesk", "Nunito_Sans", sans-serif;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.border-animation {
  opacity: 80%;
  cursor: pointer;
  position: relative;
  padding-block-end: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

/**/
/* I MOVED THE FOLLOWING RULESETS FROM THE BlogSlot COMPOONENT HERE */
/**/
/*ANCHOR TAG STYLING*/
.blog-slot a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #9775fa80;
  text-decoration-thickness: 3px;

  &:hover {
    text-decoration-color: #9775fa;
    opacity: 1;
  }
}

.blog-slot h2 > a,
.blog-slot h3 > a,
.blog-slot h4 > a,
.blog-slot h5 > a,
.blog-slot h6 > a {
  text-decoration-color: unset;
  text-decoration: none;
  position: relative;

  &:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.5px;
    text-decoration-color: unset;

    &::after {
      content: url("/src/assets/MdiLinkVariant.svg");
      margin-inline-start: 4px;
      position: absolute;
      transition: 0.2s ease-in-out;
    }
  }
}

a.external-link {
  position: relative;
  &:hover {
    &::after {
      position: absolute;
      content: url("/src/assets/TablerArrowUpRight.svg");
      bottom: 0.36em;
      right: -0.32em;
    }
  }
}

@media (width<330px) {
  a.external-link {
    position: static;
    &:hover {
      &::after {
        position: static;
        content: none;
      }
    }
  }
}

/*HEADING (H2 - H6) STYLING*/
.blog-slot h2,
.blog-slot h3,
.blog-slot h4,
.blog-slot h5,
.blog-slot h6 {
  font-family: "Nunito_Sans";
  font-weight: bold;
}

.blog-slot h2:first-of-type {
  margin-block: 0px 12px;
}

.blog-slot h2:not(:first-of-type),
.blog-slot h3 {
  margin-block: 36px 12px !important;
}

.blog-slot h4,
.blog-slot h5,
.blog-slot h6 {
  margin-block: 12px 8px;
}

.blog-slot h2 {
  font-size: 24px;
}

.blog-slot h3 {
  font-size: 20px;
}

/*PARAGRAPH*/
.blog-slot p:not(blockquote p) {
  margin-block-end: 20px;
}

/*BLOCKQUOTE*/
.blog-slot blockquote {
  margin-block: 16px;
  border-left-width: 6px;
  padding-inline: 16px 8px;
  opacity: 0.8;
  box-shadow: 0 1px 2px 1px rgb(0, 0, 0, 0.1);
}

.blog-slot blockquote p {
  padding-block: 8px;
}

/*LIST STYLING*/
.blog-slot ul,
.blog-slot ol {
  margin-block: 8px !important;
  list-style-position: inside;
}

.blog-slot ul {
  list-style-type: square;
}

.blog-slot ol {
  list-style-type: decimal;
}

.blog-slot ol ul,
.blog-slot ul ul,
.blog-slot ol ol,
.blog-slot ul ol {
  margin-block: 0.1em !important;
  margin-inline-start: 1em !important;
}

.blog-slot ol ul,
.blog-slot ul ul {
  list-style-type: "- ";
}

.blog-slot ol ol,
.blog-slot ul ol {
  list-style-type: lower-roman;
}

/*SLOT IMAGES AND CAPTION*/
.blog-slot img {
  margin-block: 16px;
  border-radius: 4px;
  background-color: transparent;
  aspect-ratio: auto;
  width: 100%;
  box-shadow: 0px 0px 12px;
  object-fit: contain;
}

.dark .blog-slot img {
  box-shadow: none;
}

.blog-slot figcaption {
  text-align: center;
  margin-block-end: 24px;
  font-size: 14px;
}

/*CODE BLOCK AND INLINE CODE STYLING*/
.astro-code {
  padding-inline: 16px;
  padding-block: 42px 16px;
  font-size: 14px;
  margin-block: 24px !important;
  border-radius: 8px;
}

code.inline-code,
.dark code.inline-code {
  font-size: 14px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
}

.dark code.inline-code {
  background-color: #374151;
}

code.inline-code {
  background-color: #e5e7eb;
}

.code-block-wrapper {
  position: relative;
}

.copy-code-button,
.code-block-lang {
  padding: 0.25rem 1rem;
  position: absolute;
  top: 0;
}

.copy-code-button {
  right: 0;
  cursor: pointer;
  /*background-color: #dbdee3;*/
  background-color: transparent;

  &:hover {
    background-color: #9775fa50;
  }
}

.dark .copy-code-button {
  /*background-color: #374151;*/
  background-color: transparent;
  &:hover {
    background-color: #9775fa50;
  }
}

.code-block-lang {
  width: 100%;
  left: 0;
  border-block-end: 0.5px solid;
}
