@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /*background-color: #9775fa02;*/
  background-color: #fff;
  color: black;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/*Dark/light toggle*/
html.dark {
  background-color: #1f2022;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*This two rulesets don't work because my media query for dark mode is broken, I think there's a conflict between pure css and tailwindcss, so I have to implement tailwind properly tomorrow */
.astro-code,
.github-dark {
  background-color: white;
  color: #24292e;
  padding: 30px;

  /*I like it but I don't know if it is ideal to wrap code blocks*/
  /*text-wrap: wrap; */
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .github-dark {
    background-color: #24292e;
    color: #e1e4e8;
  }
}

/*pre.astro-code > code > span {
  margin-inline: 24px;
}*/
