@import "tailwindcss";

:root {
  --colour-neutral-100: hsl(48, 71%, 99%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: linen;
  color: black;
  font-family: sans-serif;
}

/*Dark/light toggle*/
html.dark {
  background-color: #1f2022;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
