---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>About Page</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus assumenda, velit maiores earum sint impedit veritatis dolores accusantium eveniet, omnis cum aspernatur, exercitationem hic totam, facere dicta quas at? Facilis.</p>
</BaseLayout>
