---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>About Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus assumenda,
    velit maiores earum sint impedit veritatis dolores accusantium eveniet,
    omnis cum aspernatur, exercitationem hic totam, facere dicta quas at?
    Facilis.
  </p>
  <button
    class="bg-sky-700 px-4 py-2 text-white hover:bg-sky-800 sm:px-8 sm:py-3"
    >Prettier</button
  >
</BaseLayout>
