---
const {title, url,html,pubDate,description} = Astro.props

function removeTags(htmlContent: string | undefined) {
	if (htmlContent === null || htmlContent === "") return false;
	else htmlContent = htmlContent?.toString();

	return htmlContent?.replace(/(<([^>]+)>)/gi, "");
}
---

<div class="">
	
			<div class="space-y-2 mb-10">
				<h2 class="md:text-xl text-lg">
					<a class="hover:underline  hover:underline-offset-2 hover:decoration-from-font hover:decoration-wavy" href={url}>
						{title}
					</a>
				</h2>

				<div class="flex text-sm opacity-80 space-x-2 items-center">
					<span>
						{new Date(pubDate).toDateString()}
					</span>
					<span class="">&bull;</span>
					<span class="">8 minutes read</span>
				</div>

				{description ? (
					<p class="line-clamp-3 text-sm md:text-base opacity-80">{description}</p>
				) : (
					<p class="line-clamp-3 text-sm md:text-base opacity-80">
						{removeTags(html)}
					</p>
				)}
			</div>
</div>

