---

---

<script>
function initialiseBlogSlot(argument) {
  // body...


  const blogSlot = document.querySelector(".blog-slot") as HTMLElement;

  // ANCHOR TAG
  const slotAnchors = [...blogSlot.querySelectorAll("a")];
  slotAnchors.map((anchor) => {
    if (!anchor.href.toString().includes("https://bukola.pages.dev")) {
      anchor.target = "_blank";
      anchor.classList.add("external-link");
    }
  });

  // INLINE CODE
  const slotInlineCode = [...blogSlot.querySelectorAll("code")];
  slotInlineCode.map((code) => {
    if (code.parentElement?.tagName !== "PRE") {
      code.classList.add("inline-code");
    }
  });

  // CODE BLOCK
  const slotCodeBlocks = Array.from(blogSlot.querySelectorAll("pre"));

  const copyButtonHtml = `<span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Tabler Icons by Paweł Kuna - https://github.com/tabler/tabler-icons/blob/master/LICENSE --><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h3m9-9V7a2 2 0 0 0-2-2h-2m-2 12v-1a1 1 0 0 1 1-1h1m3 0h1a1 1 0 0 1 1 1v1m0 3v1a1 1 0 0 1-1 1h-1m-3 0h-1a1 1 0 0 1-1-1v-1"/><path d="M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v0a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2"/></g></svg></span>`;

  for (let codeBlock of slotCodeBlocks) {
    let codeBlockWrapper = document.createElement("div");
    codeBlockWrapper.classList.add("code-block-wrapper");

    // Code block copy button
    const copyButton = document.createElement("button");
    copyButton.classList.add("copy-code-button");
    copyButton.setAttribute("title", "Copy code");
    copyButton.setAttribute("type", "button");

    copyButton.innerHTML = copyButtonHtml;

    codeBlock.setAttribute("tabindex", "0");
    codeBlock.appendChild(copyButton);

    // Code block language
    const codeBlockLanguage = document.createElement("span");
    codeBlockLanguage.classList.add("code-block-lang");
    codeBlockLanguage.innerText = codeBlock.dataset.language
      ? codeBlock.dataset.language
      : "";
    codeBlock.insertBefore(codeBlockLanguage, copyButton);

    codeBlock.parentElement?.insertBefore(codeBlockWrapper, codeBlock);
    codeBlockWrapper.appendChild(codeBlock);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  // Code block copy to clipboard function
  async function copyCode(
    codeSnippet: HTMLElement,
    buttonElement: HTMLButtonElement,
  ) {
    let code = codeSnippet.querySelector("code");
    if (!code?.innerText) {
      return;
    }

    let text = code.innerText;

    await navigator.clipboard.writeText(text);

    buttonElement.innerText = "Copied";
    setTimeout(() => (buttonElement.innerHTML = copyButtonHtml), 800);
  }

  }

  document.addEventListener('DOMContentLoaded', initialiseBlogSlot)
</script>

<article class="blog-slot text-pretty text-gray-900 dark:text-gray-100">
  <slot />
</article>

<!-- <style is:global> </style> -->
