---
import { socialLinks } from "./../lib/SocialLinks.ts";
---

<footer class="container mx-auto mt-12 w-11/12 py-4 md:w-10/12">
  <div class="">
    <div
      class="spae-x-3 flex items-center justify-center gap-3 text-center md:justify-start md:text-start"
    >
      {
        socialLinks.map((socialLink) => {
          const [key, value] = Object.entries(socialLink)[0];
          return (
            <a target="_blank" href={value[0].url} class="border-animation">
              {key}
            </a>
          );
        })
      }
    </div>

    <hr class="border-0.5 my-3 border-dashed" />

    <div
      class="justify-between space-y-4 text-center text-xs opacity-75 md:flex md:text-sm"
    >
      <p class="">Made with Astro by Bukola Ogunleye</p>

      <p class="mt-4 md:mt-0">
        &COPY; {new Date(Date.now()).getFullYear()} Bukola. All rights reserved.
      </p>
    </div>
  </div>
</footer>
