---
const socialLinks = [
  { GitHub: "https://github.com/SheIsBukki" },
  { LinkedIn: "https://www.linkedin.com/in/bukola-ogunleye-j/" },
  { Bluesky: "https://bsky.app/profile/itsbukola.bsky.social" },
];
---

<footer class="container mx-auto mt-12 w-11/12 py-4 md:w-10/12">
  <p class="">Contact</p>

  <hr class="border-0.5 my-4 border-dashed" />

  <div class="flex-row-reverse items-center justify-between md:flex">
    <div class="flex gap-2 space-x-3">
      {
        socialLinks.map((socialLink) => (
          <a
            target="_blank"
            href={`${Object.values(socialLink)}`}
            class="border-animation"
          >
            {Object.keys(socialLink)}
          </a>
        ))
      }
    </div>

    <p class="mt-4 md:mt-0">
      &COPY; {new Date(Date.now()).getFullYear()} Bukola. All rights reserved.
    </p>
  </div>
</footer>
