---
import Navigation from "./Navigation.astro";
import "../styles/global.css";
import ThemeManager from "./ThemeManager.astro";
---

<header style="" class="">
    <div class="flex justify-between items-center">
        <!-- logo -->
        <a class="" href="/">
            <img class="size-16 md:size-18" src="/bukola.svg" alt="logo" />
        </a>

        <Navigation />

        <!-- theme toggle -->
        <ThemeManager/>

    </div>
</header>

<style>
    /*header {
    margin-block: clamp(1.5rem, 5vmax, 5rem) clamp(1.5rem, 5vmax, 2rem);
}*/

    @media (width<750px) {
    }
</style>
