---
import Navigation from "./Navigation.astro";
import "../styles/global.css";
import ThemeManager from "./ThemeManager.astro";
---

<header
  style=""
  class="mb-6 md:sticky md:top-0 md:mb-8 md:bg-[#f8f8ff] md:dark:bg-[#0f1011]"
>
  <div class="flex items-center justify-between">
    <!-- logo -->
    <a class="" href="/">
      <img class="size-16 md:size-18" src="/bukola.svg" alt="logo" />
    </a>

    <Navigation />

    <!-- theme toggle -->
    <ThemeManager />
  </div>
</header>

<style>
  @media (width<750px) {
  }
</style>
