---
import { Icon } from "astro-icon/components";
---

<div class="hero-wrapper mb-12 md:mt-16 md:shadow-[24px_24px_#9775fa]">
  <div
    class="hero-content box-shadow mx-auto space-y-8 bg-[repeating-linear-gradient(45deg,#9775fa,#000_4px,#9775fa_4px,#9775fa_4px)] p-4 text-center text-white md:p-12 md:text-left md:shadow-[24px_-24px_#9775fa]"
  >
    <h2
      class="flex w-fit flex-col border-b-4 text-2xl font-bold text-balance md:text-3xl"
    >
      <span>Writing about frontend development,</span>
      <span>product management, and</span>
      <span>content and technical writing experiences.</span>
    </h2>
    <p class="text-lg">
      Welcome to my little internet abode. My name is Bukola. I am a technical
      writer, product manager, and frontend developer, finally sharing my
      thoughts in a blog.
    </p>

    <a
      href="/about"
      class="relative mx-auto flex w-fit cursor-pointer items-center justify-center gap-2 pb-4 text-sm after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-current after:transition-transform after:duration-300 after:ease-in-out after:content-[''] hover:after:scale-x-100 motion-reduce:transition-none motion-reduce:hover:transform-none md:mx-0 md:justify-start md:text-base"
    >
      <span>More about me </span>
      <Icon
        class="opacity-60 dark:opacity-100"
        size="20"
        name="tabler:arrow-right"
      />
    </a>
  </div>
</div>

<style>
  h2,
  p,
  a {
    animation: fly-up 2s ease-in-out;
  }

  @keyframes fly-up {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0%);
    }
  }
</style>
