---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<script>
  const navToggle = document.querySelector('[aria-controls="primary-nav"]');

  navToggle?.addEventListener("click", () => {
    const navOpened = navToggle.getAttribute("aria-expanded");

    if (navOpened === "false") {
      navToggle.setAttribute("aria-expanded", "true");
    } else {
      navToggle.setAttribute("aria-expanded", "false");
    }
  });
</script>

<button aria-controls="primary-nav" aria-expanded="false">
  <span class="visually-hidden">Menu</span>

  <span class="icon-hamburger">
    <span class="visually-hidden" sr-only>Menu</span>
    <Icon name="tabler:baseline-density-medium" size="24px" />
  </span>
  <span class="icon-close text-gray-100"
    ><span class="visually-hidden" sr-only>Close</span>
    <Icon name="tabler:x" size="24px" />
  </span>
</button>

<nav id="primary-nav" class="">
  <ul class="flex space-x-8">
    <li><a href="/" class="border-animation">Home</a></li>
    <li><a href="/about" class="border-animation">About</a></li>
    <li><a href="/posts" class="border-animation">Blog</a></li>
    <li><a href="/tags" class="border-animation md:hidden">Tags</a></li>
  </ul>
</nav>

<style>
  button {
    display: none;
  }

  /*@media (prefers-color-scheme: dark) {
		[aria-expanded="true"] + nav {
			background-color: #1f2022;
			color: white;
		}
	}*/

  @media (width<750px) {
    button {
      display: flex;
      position: absolute;
      z-index: 10;
      right: 50px;
      background: transparent;
      border: 0;

      .icon-close {
        display: none;
      }
    }

    nav {
      display: none;
    }

    [aria-expanded="true"] {
      .icon-hamburger {
        display: none;
      }

      .icon-close {
        display: block;
      }
    }

    [aria-expanded="true"] + nav {
      display: block;
      position: absolute;
      inset: 0;
      z-index: 1;
      width: 80%;
      margin-left: auto;
      box-shadow: 0 0 0 100vmax hsl(0, 0, 0 / 0.4);
      background-color: #1f2022;
      color: white;

      ul {
        display: grid;
        gap: 2rem;
        font-size: var(--fs-600);
        margin-top: 20vh;
        margin-left: 3rem;
      }
    }
  }
</style>
